<div style="margin: 0.75%">
  <div class="Page-Title">
    <h1>Bem-Vindo ao UpMusic, estas são suas músicas favoritas!</h1>
  </div>
  <div class="Page-list">

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="posicao">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let elementIndex = index;"> {{elementIndex + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['', 'musicas', 'info', element.idMusica]" class="titulo-musica"> {{element.titulo}} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="artista">
        <th mat-header-cell *matHeaderCellDef>Artista</th>
        <td mat-cell *matCellDef="let element"> {{element.artista}} </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button (click)="desFavoritar(element)">
            <mat-icon color="primary">favorite</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
