<div style="margin: 0.75%">
  <div class="Page-Title">
    <h1>Adcionar uma nova música</h1>
  </div>
  <div class="Page-list">
    <form #formMusica="ngForm">
      <label>Título:</label>
      <input matInput
             [(ngModel)]="musica.titulo" name="titulo"><br/>
      <label>Artista:</label>
      <input matInput
             [(ngModel)]="musica.artista" name="artista"><br/>
      <label>Compositor:</label>
      <input matInput
             [(ngModel)]="musica.compositor" name="compositor"><br/>
      <label>Duração:</label>
      <input matInput
             [(ngModel)]="musica.duracao" name="duracao"><br/>
      <label>Estilo Musical:</label>
      <select [(ngModel)]="musica.estiloMusical" name="estiloMusical" id="Estilo">
        <option value="POP">Pop</option>
        <option value="REB">R&B</option>
        <option value="MPB">Mpb</option>
        <option value="ROCK">Rock</option>
        <option value="FOLK">Folk</option>
      </select>

      <input type="submit" title="Salvar" (click)="salvar(musica)">
    </form>
    <a mat-button [routerLink]="['', 'admin', 'musica']">
      voltar ao controle de músicas
    </a>
  </div>
</div>
